extends inc/layout.pug

block title 
    title 14- inheritance
block content 
    header 
        h1 14- Inheritance
        h2 Covers how to use inheritance to avoid code repetition.
    section
        h3 lorem ipsum dolor
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum ratione, reiciendis aut eligendi itaque nostrum beatae provident nesciunt suscipit ducimus, obcaecati modi quisquam nisi quo rem officiis adipisci molestias non.